# Pandas Questions 121â€“140 with Solutions

### 121. Line Plot (Stock_Price)

In [ ]:
df['Stock_Price'].plot(kind='line')

### 122. Bar Plot (City value counts)

In [ ]:
df['City'].value_counts().plot(kind='bar')

### 123. Histogram (Age)

In [ ]:
df['Age'].plot(kind='hist', bins=10)

### 124. Box Plot (Salary)

In [ ]:
df['Salary'].plot(kind='box')

### 125. Area Plot (two columns)

In [ ]:
df[['col1', 'col2']].plot(kind='area', stacked=True)

### 126. Scatter Plot (Age vs Salary)

In [ ]:
df.plot.scatter(x='Age', y='Salary')

### 127. Pie Chart (Gender)

In [ ]:
df['Gender'].value_counts().plot(kind='pie', autopct='%1.1f%%')

### 128. Line Plot with Title

In [ ]:
df['Stock_Price'].plot(kind='line', title='Stock Price Over Time')

### 129. Bar Plot with Labels

In [ ]:
df['City'].value_counts().plot(kind='bar')
plt.xlabel('City')
plt.ylabel('Count')

### 130. Horizontal Bar Plot (City)

In [ ]:
df['City'].value_counts().plot(kind='barh')

### 131. Read from CSV

In [ ]:
df = pd.read_csv('students.csv')

### 132. Write to CSV

In [ ]:
df.to_csv('output.csv')

### 133. Write to CSV without index

In [ ]:
df.to_csv('output.csv', index=False)

### 134. Read from Excel

In [ ]:
df = pd.read_excel('data.xlsx')

### 135. Write to Excel

In [ ]:
df.to_excel('output.xlsx', sheet_name='Sheet1')

### 136. Read specific sheet (Grades)

In [ ]:
df = pd.read_excel('data.xlsx', sheet_name='Grades')

### 137. Read from JSON

In [ ]:
df = pd.read_json('data.json')

### 138. Write to JSON

In [ ]:
df.to_json('output.json')

### 139. Read from Clipboard

In [ ]:
df = pd.read_clipboard()

### 140. Read TSV file

In [ ]:
df = pd.read_csv('data.tsv', sep='\t')