# Pandas Questions 81â€“100 with Solutions

### 81. Find the sum of a column (Salary)

In [ ]:
df['Salary'].sum()

### 82. Find the mean of a column (Age)

In [ ]:
df['Age'].mean()

### 83. Find the maximum value in a column (Salary)

In [ ]:
df['Salary'].max()

### 84. Find the minimum value in a column (Age)

In [ ]:
df['Age'].min()

### 85. Count non-NA cells in City

In [ ]:
df['City'].count()

### 86. Find value counts for City

In [ ]:
df['City'].value_counts()

### 87. Find value counts with percentages for City

In [ ]:
df['City'].value_counts(normalize=True) * 100

### 88. Add two numerical columns elementwise

In [ ]:
df['sum_col'] = df['num_col1'] + df['num_col2']

### 89. Multiply a column by scalar (Age*2)

In [ ]:
df['Age'] * 2

### 90. Convert Name to uppercase

In [ ]:
df['Name'].str.upper()

### 91. Convert City to lowercase

In [ ]:
df['City'].str.lower()

### 92. Find length of strings in Name

In [ ]:
df['Name'].str.len()

### 93. Cumulative sum of Salary

In [ ]:
df['Salary'].cumsum()

### 94. Product of all items in column

In [ ]:
df['num_col'].prod()

### 95. Index of max Salary

In [ ]:
df['Salary'].idxmax()

### 96. Index of min Age

In [ ]:
df['Age'].idxmin()

### 97. Round float column to 2 decimals

In [ ]:
df['float_col'].round(2)

### 98. Absolute values of a column

In [ ]:
df['neg_col'].abs()

### 99. Median of Salary

In [ ]:
df['Salary'].median()

### 100. Count names containing 'A'

In [ ]:
df['Name'].str.contains('A', na=False).sum()