# Pandas Practice (Q61â€“Q80)

In [ ]:

import pandas as pd
import numpy as np

# Sample DataFrame we'll use for all examples
df = pd.DataFrame({
    'Name': ['A', 'B', 'C', 'D', 'E', 'F'],
    'Age': [25, np.nan, 22, 35, np.nan, 28],
    'Salary': [50000, 60000, np.nan, 80000, np.nan, 70000],
    'City': ['New York', 'London', 'Unknown', np.nan, 'Paris', 'London']
})
df

### 61. Check for any missing values (True/False)

In [ ]:
df.isnull().values.any()

### 62. Count missing values in each column

In [ ]:
df.isnull().sum()

### 63. Sum all missing values

In [ ]:
df.isnull().sum().sum()

### 64. Drop rows with any missing values

In [ ]:
df.dropna(how='any')

### 65. Drop columns with any missing values

In [ ]:
df.dropna(axis=1, how='any')

### 66. Fill missing values with a specific value (0)

In [ ]:
df.fillna(0)

### 67. Fill missing Age values with mean

In [ ]:
df.assign(Age=df['Age'].fillna(df['Age'].mean()))

### 68. Fill missing Salary values with median

In [ ]:
df.assign(Salary=df['Salary'].fillna(df['Salary'].median()))

### 69. Fill missing City values with mode

In [ ]:
df.assign(City=df['City'].fillna(df['City'].mode()[0]))

### 70. Forward-fill missing values

In [ ]:
df.fillna(method='ffill')

### 71. Backward-fill missing values

In [ ]:
df.fillna(method='bfill')

### 72. Drop rows with all missing values

In [ ]:
df.dropna(how='all')

### 73. Check if Age is NaN

In [ ]:
df['Age'].isnull()

### 74. Check if Age is not NaN

In [ ]:
df['Age'].notnull()

### 75. Drop rows that have less than 3 valid values

In [ ]:
df.dropna(thresh=3)

### 76. Interpolate missing numeric values

In [ ]:
df.interpolate(method='linear')

### 77. Fill NaN in City with 'Unknown'

In [ ]:
df.assign(City=df['City'].fillna('Unknown'))

### 78. Select rows where Salary is not NaN

In [ ]:
df[df['Salary'].notnull()]

### 79. Replace 'Unknown' in City with NaN

In [ ]:
df.replace({'City': {'Unknown': np.nan}})

### 80. Fill missing values differently per column

In [ ]:
df.fillna({'Age': 0, 'City': 'N/A'})