# Pandas Questions 101â€“120 with Solutions

### 101. Sort a Series (ascending)

In [ ]:
s.sort_values()

### 102. Sort DataFrame by one column (Age ascending)

In [ ]:
df.sort_values(by='Age')

### 103. Sort DataFrame by one column (Salary descending)

In [ ]:
df.sort_values(by='Salary', ascending=False)

### 104. Sort by multiple columns (City asc, Age desc)

In [ ]:
df.sort_values(by=['City', 'Age'], ascending=[True, False])

### 105. Get 5 largest salaries

In [ ]:
df.nlargest(5, 'Salary')

### 106. Get 3 smallest ages

In [ ]:
df.nsmallest(3, 'Age')

### 107. Rank data by Salary (default)

In [ ]:
df['Salary_rank'] = df['Salary'].rank()

### 108. Rank Salary using dense method

In [ ]:
df['Salary_dense_rank'] = df['Salary'].rank(method='dense')

### 109. Rank Age in descending order

In [ ]:
df['Age_rank_desc'] = df['Age'].rank(ascending=False)

### 110. Sort DataFrame index

In [ ]:
df.sort_index()

### 111. Check if index is sorted

In [ ]:
df.index.is_monotonic_increasing

### 112. Get 5 largest rows by multiple columns (City, Salary)

In [ ]:
df.nlargest(5, ['City', 'Salary'])

### 113. Sort a column with missing values

In [ ]:
df['col_with_nan'].sort_values()

### 114. Sort with NaN first

In [ ]:
df['col_with_nan'].sort_values(na_position='first')

### 115. Sort strings case-insensitively

In [ ]:
df['Name'].sort_values(key=lambda x: x.str.lower())

### 116. Get 5 smallest values from entire DataFrame

In [ ]:
df.stack().nsmallest(5)

### 117. Get 5 largest values from entire DataFrame

In [ ]:
df.stack().nlargest(5)

### 118. Sort by index descending

In [ ]:
df.sort_index(ascending=False)

### 119. Rank Salary with min method

In [ ]:
df['Salary_min_rank'] = df['Salary'].rank(method='min')

### 120. Rank Salary with max method

In [ ]:
df['Salary_max_rank'] = df['Salary'].rank(method='max')