# Pandas Questions 141â€“160 with Solutions

### 141. Concatenate two DataFrames (rows)

In [ ]:
pd.concat([df1, df2], axis=0)

### 142. Concatenate two DataFrames (columns)

In [ ]:
pd.concat([df1, df2], axis=1)

### 143. Append a row

In [ ]:
df.loc[len(df)] = {'Name': 'John', 'Age': 30, 'City': 'Paris'}

### 144. Append a DataFrame

In [ ]:
df = df.append(df2)  # deprecated, use pd.concat([df, df2])

### 145. Concatenate with ignore_index

In [ ]:
pd.concat([df1, df2], ignore_index=True)

### 146. Concatenate with keys

In [ ]:
pd.concat([df1, df2], keys=['df1', 'df2'])

### 147. Join two DataFrames on index

In [ ]:
df1.join(df2)

### 148. Merge two DataFrames (inner join)

In [ ]:
pd.merge(df1, df2, on='ID', how='inner')

### 149. Simple merge on 'ID'

In [ ]:
pd.merge(df1, df2, on='ID')

### 150. Append a Series as row

In [ ]:
df.loc[len(df)] = s

### 151. Use where()

In [ ]:
df['Age'] = df['Age'].where(df['Age'] >= 25)

### 152. Use mask()

In [ ]:
df['Age'] = df['Age'].mask(df['Age'] > 25)

### 153. Use at for scalar access

In [ ]:
value = df.at[2, 'Age']

### 154. Use iat for scalar access

In [ ]:
value = df.iat[2, 1]

### 155. Check membership with isin()

In [ ]:
df['col'].isin([10, 30])

### 156. Use clip()

In [ ]:
df['Score'] = df['Score'].clip(0, 100)

### 157. Copy to clipboard

In [ ]:
df.to_clipboard()

### 158. Get memory usage

In [ ]:
df.memory_usage(deep=True)

### 159. Get number of dimensions

In [ ]:
df.ndim

### 160. Get underlying NumPy array

In [ ]:
df.values